.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    padding: calc(.25rem - 1px);
    margin-top: calc(.25rem - 1px);
}